* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  background: rgb(176, 104, 233);
  background: linear-gradient(
    180deg,
    rgba(176, 104, 233, 1) 0%,
    rgba(100, 99, 231, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

main {
  background: #fff;
  max-width: 920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-radius: 23px;
}

h1 {
  margin-bottom: 45px;
}

.ilustration-svg {
  background-image: url(imgs/bg2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: -113px;
  flex: 1;
  position: relative;
  height: 510px;
}

#svg-desktop {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -59px;
  margin: auto 0px;
}

#svg-mobile {
  display: none;
}

.fag-container {
  flex: 1;
}

.accordion {
  background: #fff;
  max-width: 350px;
  width: 100%;
  height: 52px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #979797;
  color: #4b4c5f;
  transition: 0.3s;
  font-size: 16px;
  cursor: pointer;
  padding-right: 16px;
  outline: none;
  gap: 10px;
  text-align: left;
}

.accordion:first-child {
  border-top: none;
}

.accordion:last-child {
  border-top: 1px solid #979797;
}

.accordion.active {
  font-weight: bold;
  transition: 0.4s;
}

.accordion:hover {
  color: #f47b56;
  transition: 0.3s;
}

.accordion span svg {
  transition: 0.3 ease;
}
.accordion.active span svg {
  transform: rotate(180deg);
  transition: 0.3 ease;
}

.panel {
  max-width: 350px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel p {
  margin-bottom: 16px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  body {
    padding: 10px;
    height: auto;
  }

  main {
    flex-direction: column;
    position: relative;
    padding-top: 77px;
    margin-top: 160px;
    margin-bottom: 85px;
  }

  h1 {
    margin-bottom: 38px;
    text-align: center;
  }

  #svg-desktop {
    display: none;
  }

  #svg-mobile {
    display: block;
    position: relative;
    left: -12px;
  }

  .ilustration-svg {
    background: none;
    height: initial;
    position: absolute;
    top: -113px;
  }

  .fag-container {
    margin-top: 28px;
    padding: 0px 20px 48px;
  }
}
